Source: libcrange
Priority: extra
Maintainer: Shanker Balan <shanker.balan@inmobi.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ytoolshed/range

Package: libcrange0-dev
Section: libdevel
Architecture: any
Depends: libcrange0 (= ${binary:Version})
Description: Hostname and cluster manipulation libraries
 Details at https://github.com/ytoolshed/range

Package: libcrange0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hostname and cluster manipulation libraries
 Details at https://github.com/ytoolshed/range

Package: libcrange0-dbg
Section: debug
Architecture: any
Depends: libcrange0 (= ${binary:Version}), ${misc:Depends}
Description: Hostname and cluster manipulation libraries
 Details at https://github.com/ytoolshed/range
